a { 
  justify-content: center;        
  align-items: center;
  margin-right: 3em;      
  color: crimson;       
}

.indexlien {           
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.indextitre {
    text-align: center;
}

.indeximg {
  text-align: center;
  display: block;    
  margin: 0 auto;      
}

.achyltitre {
  text-align: center;
}

.achylpetittitre {
  text-align: center;
}

.achyltext {
  text-align: center;
}

.achylimg{
  text-align: center;
}





@keyframes arcenciel {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

p {
  margin: 10px;
  color: rgb(255, 254, 254);
}

.evandetails {
  color: white;
}

/* Quand le details est ouvert → animation plus rapide et en boucle pendant 5s */
.evandetails details[open] {
  animation: arcenciel 1s linear infinite; /* change toutes les secondes */
  animation-duration: 5s; /* dure 5 secondes au total */
  animation-iteration-count: 5; /* 5 cycles complets */
}

h3 {
  color: goldenrod;
}

body {
  margin: 0;
  height: 100vh;
  position: relative;
  font-family: "dancing script", cursive;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('istockphoto-157639696-612x612.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.8;
  z-index: -1;
}

